body {
    background: rgb(176, 240, 208);
}

h2 {
    /* color: rgb(145, 255, 0); */
    text-align: center;
    
}
form{
    text-align: center;
    
    /* color: r
    gb(255, 127, 217); */
    
}

